@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*---------------------------------------
    PRE LOADER
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #00BCD4;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

/*---------------------------------------
    NAVBAR
-----------------------------------------*/
nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 1em 3em;
  box-sizing: border-box;
  transition: .5s;
  font-family: 'Roboto', sans-serif;
}

nav.black {
  background: rgb(33,33,33, 0.9);
  height: 4em;
  padding: .5em 2em;
}

nav .logo {
  float: left;
}

nav .logo img {
  height: 3em;
  width: 3em;
  transition: .5s;
  display: none;
}
nav.black .logo img{
  display: inline-block;
  transition: .5s;
}
nav .logo p {
  color: #ECEFF1;
  display: none;
  transition: .5s;
}
nav.black .logo p {
  font-size: 1.35em;
  display: inline-block;
  padding-top: .2em;
  transition: .5s;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 4em; /* this is equal to height of nav .logo img */
  color: #ECEFF1;
  padding: 5px 12px; /* change this as well */
  text-decoration: none;
  text-transform: lowercase;
  transition: .5s;
}
nav.black ul li a {
  line-height: 3em;
}

nav ul li a.active, nav ul li a:hover {
  color: #ECEFF1;
  background-color: #00BCD4;
  text-decoration: none;
}

.responsive-bar {
  display: none;
}
@media (max-width: 768px) {
  .responsive-bar {
    display: block;
    width: 100%;
    height: 3em;
    background: rgb(33,33,33);
    position: fixed;
    top: 0;
    left: 0;
    padding: .15em .5em; /* change this!!!! */
    box-sizing: border-box;
    z-index: 12;
    font-family: 'Roboto', sans-serif;
  }

  .responsive-bar .logo img {
    float: left;
    height: 2.8em;
    width: 2.8em;
  }

  .responsive-bar .menu p {
    float: right;
    color: #ECEFF1;
    margin: 0;
    padding-top: .35em;
    font-size: 1.25em;
    cursor: pointer;
  }

  /* .responsive-bar .logo p */

  nav, nav.black {
    background:rgb(33,33,33);
    height: 3em;
    padding: 0;
  }
  nav .logo {
    display: none;
  }
  
  nav ul {
    position: absolute;
    width: 100%;
    top: 3em;
    left: 0;
    background: rgb(33,33,33);
    float: none;
    display: none;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 2.5em !important;
    border-top: .2px solid rgb(236,239,241, 0.8); /* FIX THIS */
  }
}

/*---------------------------------------
    HOME
-----------------------------------------*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

#particles-js {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42.5em;
  /* might change height */
  /* height: 100vh; */
  position: absolute;
  overflow: hidden;
  width: 100vw;
  background-color: #212121;
  background-size: cover;
}
@media screen and (max-width: 639px) {
  #particle-js {
    height: 35em;
  }
 }
.home-title {
  position: relative;
}

.homepage {
  padding-top: 6.5em;
  padding-bottom: 7em;
  font-family: 'Roboto', sans-serif;
  color: #ECEFF1;
  text-align: center;
  width: 100%;
}

#logo {
    width: 100%;
    max-width: 300px;
    height: auto;
}
/* #summary {
  padding-top: 2em;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #ECEFF1;
}
a.visit {
  color: #00ACC1 !important;
} */
.homepage h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}
.homepage h2 {
  font-size: 2.5em;
  margin-top: 0;
}

/*---------------------------------------
    CONTENT SPACING
-----------------------------------------*/
section.content {
  padding-top: 6em; /* important to note */
  /* padding-right: 3em;
  padding-left: 3em; */
  position: relative;
  color: #212121;
}
@media screen and (max-width: 639px) {
 section.content {
  padding-top: 3em;
  /* padding-right: 1em;
  padding-left: 1em; */
  }
}

/*---------------------------------------
    ABOUT
-----------------------------------------*/
#about h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  padding-bottom: .5em;
}

.about-paragraph {
  font-family: 'Roboto Condensed', sans-serif;
}
#about .about-img {
  height: 21em;
  width: 21em;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.about-col-centered {
  /* margin: auto;    
  display: block; */
  text-align: center;
}
@media (max-width: 768px) {
  #about .about-img {
    height: 15em;
    width: 15em;
  }
  .about-paragraph {
    font-size: 1em;
  }
}
@media screen and (max-width: 639px) {
  #about {
    padding-top: 8em !important;
  }
  #about .about-img {
    height: 15em;
    width: 15em;
  }
  #about h1 {
    font-size: 2.3em;
  }
  .about-paragraph {
    font-size: 1em;
  }
}

/*---------------------------------------
    RESUME
-----------------------------------------*/
#resume h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  padding-bottom: 0.5em;
}
#resume h2 {
  font-family: 'Roboto', sans-serif;
  padding-top: 0.3em;
}
#resume .resume-row {
  padding-top: 6em;
}

#resume .chart-img {
  height: 16em;
  width: 42em;
}
#resume .ucsd-img {
  height: 7em;
  width: 7em;
}
#resume .laptop-img {
  height: 7em;
  width: 10.5em;
}
#resume .book-img {
  height: 7em;
  width: 5.8em;
}
#resume .resume-row ul {
  /* text-align: left; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-bottom: 3em; */

  font-family: 'Roboto Condensed', sans-serif;

}

#resume .skill-colL {
  padding: 0;
}
#resume .skill-colR {
  padding: 0;
}
#resume .resume-link {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  float: none;
  margin: 0 auto;
}
#resume .resume-link:hover {
  color: #00BCD4;
}
@media (max-width: 768px) {
  #resume .chart-img {
    height: 12em;
    width: 32em;
  }
  #resume .resume-row {
    padding-top: 1em;
  }
  #resume .ucsd-img {
    height: 6em;
    width: 6em;
  }
  #resume .laptop-img {
    height: 6em;
    width: 9em;
  }
  #resume .book-img {
    height: 6em;
    width: 4.2em;
  }
  #resume .responsive-col {
    padding-top: 3em;
  }
}
@media screen and (max-width: 639px) {
  #resume h1 {
    font-size: 2.3em;
  }
  #resume .chart-img {
    height: 8em;
    width: 21em;
  }

  #resume .ucsd-img {
    height: 4em;
    width: 4em;
  }
  #resume .laptop-img {
    height: 4em;
    width: 6.2em;
  }
  #resume .book-img {
    height: 4em;
    width: 3em;
  }
  #resume .responsive-col {
    padding-top: 2.5em;
  }
  #resume h2 {
    padding-top: 0em;
    font-size: 1.8em;
  }
}

/*---------------------------------------
    PROJECTS
-----------------------------------------*/
#projects .project-row-padding {
  padding-bottom: 8em;
}
#projects h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  padding-bottom: 1.5em;
  /* might need padding in bottom later; same goes with CONTACT */
}
#projects p {
  font-family: 'Roboto Condensed', sans-serif;
}

#projects .project-img-laptop {
  height: 23em;
  width: 40em;
  align-content: center;
}
#projects .project-img-phone {
  height: 20em;
  width: 26em;
  align-content: center;
}
#projects .project-kind-right {
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: .3em;
  /* text-align: right; */
}
#projects .project-kind-left {
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-align: right;
}

#projects span {
  background-color: #00E5FF;
  padding-right: 2em;
  padding-left: 1em;
  padding-top: .7em;
  padding-bottom: 1em;
  color: white;
  font-size: .8em;
}

#projects .project-titles {
 font-family: 'Roboto', sans-serif;
 font-size: 4em;
 line-height: 1em;
}

#projects .view-link {
  text-decoration: none;
}
#projects .view-project-btn, #projects .github-btn, #projects .process-btn {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  border: 0.8px solid #212121;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .6em;
  padding-right: .6em;
  display: inline-block;
}

#projects .view-project-btn:hover, #projects .view-project-btn:active {
  text-decoration: none;
  transition: .3s;
  color: #ffffff;
  background-color: #00BCD4;
  border: 0;
}
#projects .github-btn:hover, #projects .github-btn:active {
  text-decoration: none;
  transition: .3s;
  color: #ffffff;
  background-color: #c9510c;
  border: 0;
}
#projects .process-btn:hover, #projects .process-btn:active {
  text-decoration: none;
  transition: .3s;
  color: #ffffff;
  background-color: #00ab6c;
  border: 0;
}

@media screen and (max-width: 1199px)  {
  #projects .project-img-laptop {
    height: 20em;
    width: 35em;
  }
  #projects .project-img-phone {
    height: 20em;
    width: 26em;
  }
}
@media screen and (max-width: 991px) {
  #projects h1 {
    padding-bottom: 0.8em;
  }
  #projects .project-img-laptop {
    height: 15em;
    width: 25em;
  }
  #projects .project-img-phone {
    height: 16em;
    width: 20em;
  }

  #projects span {
    padding-right: 2em;
    padding-left: 1em;
    padding-top: .7em;
    padding-bottom: 1em;
    font-size: .5em;
  }
  #projects .project-titles {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    line-height: 1em;
   }
}

@media (max-width: 768px) {
  #projects .project-row-padding {
    padding-bottom: 4em;
  }
  #projects .project-img-laptop {
    height: 17em;
    width: 27em;
    padding-bottom: 0.8em;
  }
  #projects .project-img-phone {
    height: 16em;
    width: 20em;
    padding-top: 0.8em;
  }
  #projects .portfolio-space {
    padding-top: 0.8em;
  }

  #projects span {
    padding-right: 2em;
    padding-left: 1em;
    padding-top: .7em;
    padding-bottom: 1em;
    font-size: .5em;
  }
  #projects .project-titles {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    line-height: 1em;
   }
}

@media screen and (max-width: 639px) {
  #projects .project-row-padding {
    padding-bottom: 3.5em;
  }
  #projects h1 {
    font-size: 2.3em;
    padding-bottom: 0.8em;
  }
  #projects .project-img-laptop {
    height: 11.5em;
    width: 18.7em;
    padding-bottom: 1em;
  }
  /* #projects .explore-space {
    padding-top: 2.5em;
  } */
  #projects .project-img-phone {
    height: 13em;
    width: 16em;
  }

  #projects span {
    padding-right: 2em;
    padding-left: 1em;
    padding-top: .7em;
    padding-bottom: 1em;
    font-size: .5em;
  }
  #projects .project-titles {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1em;
    line-height: 1em;
   }
}
/*---------------------------------------
    CONTACT
-----------------------------------------*/
#contact h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
}
#contact p {
  font-family: 'Roboto Condensed', sans-serif;
}
@media screen and (max-width: 639px) {
  #contact h1 {
    font-size: 2.3em;
  }
}
/*---------------------------------------
    CONTACT & FOOTER
-----------------------------------------*/
.copyright {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 3em;
  text-align: center;
  color:black; /* change color */
}
.contact-buttons {
    text-align: center;
    font-size: 3.5em;
    overflow: hidden;
    position: relative;
  

}
.contact-buttons a {
  text-decoration: none;
}
  
  #mail, #instagram, #linkedin, #github, #twitter {
    color: #212121;
    /* #00BCD4; */
    /* #212121;  */
    /* #424242; maybe */
  }
  #mail:hover, #instagram:hover, #linkedin:hover, #github:hover, #twitter:hover {
    color: #00BCD4;
  } 
  
  @media screen and (max-width: 991px) {
    .homepage h1 {
      font-size: 2.5em;
    }
    .homepage h2 {
      font-size: 1.5em;
    }
    #summary {
      font-size: 1em;
    }
    .copyright {
      margin-top: 5em;
    }

  }
  @media screen and (max-width: 639px) {
    .copyright {
      margin-top: 1.5em;
    }
    .contact-buttons {
      font-size: 3em;
    }
  }